.notice-detail {
  /deep/ .el-form-item__content {
      line-height: normal;
  }
  /deep/ .el-form-item__label::before {
      content: '*';
      color: #F56C6C;
      margin-right: 4px;
  }
}
.cover-uploader .el-upload {
  border: 1px dashed #c9c9c9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.cover-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  border: 1px dashed #c9c9c9;
  font-size: 28px;
  color: #8c939d;
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
}
.cover-uploader,
.avatar {
  height: 150px;
  display: block;
}
.attach-name {
  color: #409EFF;
}
.attach-name:hover {
  cursor: pointer;
}
.content {
  padding: 30px 0;
  position: relative;
  .back {
    position: absolute;
    top: -10px;
    right: 0;
  }
}