.add-btn {
    margin-bottom: 10px;
}
.filt {
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.el-input {
  width: 250px;
}
.left-box {
  height: 30px;
  display: flex;
  align-items: center;
  .filt-label {
    margin-left: 20px;
  }
}
.gift-detail {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.visible-box {
    margin-left: 20px;
}
.gift-img {
  vertical-align: middle;
}
/deep/ .el-table_1_column_3 {
  padding: 10px;
}